@model IEnumerable<Lezizz.Core.Domain.Entities.Pos>

@{
    ViewData["Title"] = "Index";
}


<div class="app-title">
    <div>
        <h1><i class="fa fa-dashboard"></i> Pos</h1>
    </div>
    <ul class="app-breadcrumb breadcrumb">
        <li class="breadcrumb-item"><i class="fa fa-home fa-lg"></i></li>
        <li class="breadcrumb-item"><a href="#">Pos</a></li>
    </ul>
</div>

<div class="row">
    <div class="col-md-12">
        <div class="tile">
            <div class="tile-body">
                <div class="table-responsive">
                    <table class="table table-hover table-bordered data-table">
                        <thead>
                            <tr>
                                <th>
                                    @Html.DisplayNameFor(model => model.PersianName)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.EnglishName)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.TablesCount)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.SeatsCount)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.ServiceChargePercent)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.TaxChangePercent)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.VatChangePercent)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.TicketNumber)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.TicketNoDailyReset)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.InvoiceType)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.CreatedBy)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.CreatedAt)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.LastModifiedBy)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.LastModifiedAt)
                                </th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.PersianName)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.EnglishName)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.TablesCount)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.SeatsCount)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.ServiceChargePercent)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.TaxChangePercent)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.VatChangePercent)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.TicketNumber)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.TicketNoDailyReset)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.InvoiceType)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.CreatedBy)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.CreatedAt)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.LastModifiedBy)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.LastModifiedAt)
                                    </td>
                                    <td>
                                        <a asp-action="Edit" asp-route-id="@item.PosId">Edit</a> |
                                        <a asp-action="Details" asp-route-id="@item.PosId">Details</a> |
                                        <a asp-action="Delete" asp-route-id="@item.PosId">Delete</a>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

@*<div class="row">
    <div class="col-md-12">

        <div class="tile">
            <p>
                <a asp-action="Create">Create New</a>
            </p>
            
        </div>
    </div>
</div>*@





